<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn"> <!-- packages="biz.paluch.logging.gelf.log4j2" -->

    <Properties>
        <Property name="log-path">.</Property>
    </Properties>

    <!-- Appenders (writing to file in various ways) -->
    <Appenders>
        <RollingFile name="INTERNAL"
                     fileName="${log-path}/restitch.log"
                     filePattern="${log-path}/restitch-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout> <!-- %c{1} -->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>

        <RollingFile name="STATISTICS"
                     fileName="${log-path}/statistics.log"
                     filePattern="${log-path}/statistics-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>

        <RollingFile name="METRICS"
                     fileName="${log-path}/metrics.log"
                     filePattern="${log-path}/metrics-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>

        <!--<Gelf name="gelf" host="udp:localhost" port="12201" version="1.1" extractStackTrace="true"
              filterStackTrace="true" mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192"
              originHost="%host{fqdn}" additionalFieldTypes="fieldName1=String,fieldName2=Double,fieldName3=Long">
            <Field name="timestamp" pattern="%d{dd MMM yyyy HH:mm:ss,SSS}" />
            <Field name="level" pattern="%level" />
            <Field name="simpleClassName" pattern="%C{1}" />
            <Field name="className" pattern="%C" />
            <Field name="server" pattern="%host" />
            <Field name="server.fqdn" pattern="%host{fqdn}" />

            < ! - - This is a static field - - >
            <Field name="fieldName2" literal="fieldValue2" />

            < ! - - This is a field using MDC - - >
            <Field name="mdcField2" mdc="mdcField2" />
            <DynamicMdcFields regex="mdc.*" />
            <DynamicMdcFields regex="(mdc|MDC)fields" />
        </Gelf>-->
    </Appenders>

    <Loggers>
        <Logger name="org.gautelis.vopn.lang" level="INFO" />
        <Logger name="org.gautelis.muprocessmanager" level="INFO" />
        <Logger name="org.gautelis.restitch" level="INFO" />

        <Logger name="org.wso2" level="INFO" />
        <Logger name="io.netty" level="INFO" />
        <Logger name="org.apache" level="WARN" />

        <Logger name="STATISTICS" level="INFO">
            <appender-ref ref="STATISTICS"/>
        </Logger>

        <Logger name="metrics" level="INFO">
            <appender-ref ref="METRICS"/>
        </Logger>

        <Root level="DEBUG">
            <appender-ref ref="INTERNAL"/>
        </Root>
    </Loggers>
</Configuration>
